build:ci --bes_backend=grpcs://remote.buildbuddy.io
build:ci --bes_results_url=https://app.buildbuddy.io/invocation/
build:ci --build_metadata=ROLE=CI
build:ci --build_metadata=VISIBILITY=PUBLIC
build:ci --remote_cache=grpcs://remote.buildbuddy.io
build:ci --remote_download_toplevel # Helps remove network bottleneck if caching is enabled
build:ci --remote_timeout=3600

build --stamp
build --workspace_status_command hack/workspace-status.sh
