[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = " "
[access "refs/*"]
	owner = group user/Thomas (uhthomas)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Thomas (uhthomas)
	label-Verified = -1..+1 group user/Thomas (uhthomas)
	push = group user/Thomas (uhthomas)
	read = group user/Thomas (uhthomas)
	rebase = group user/Thomas (uhthomas)
	removeReviewer = group user/Thomas (uhthomas)
	submit = group user/Thomas (uhthomas)
[access "refs/heads/*"]
	create = group user/Thomas (uhthomas)
	push = +force group user/Thomas (uhthomas)
	pushMerge = group user/Thomas (uhthomas)
	read = group user/Thomas (uhthomas)
[access "refs/tags/*"]
	push = group user/Thomas (uhthomas)
	push = +force group user/Thomas (uhthomas)
