---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: prometheus
  namespace: telemetry
spec:
  releaseName: prometheus
  chart:
    repository: https://prometheus-community.github.io/helm-charts
    name: prometheus
    version: 13.1.0
  values:
    podSecurityPolicy:
      enabled: true
    kubeStateMetrics:
      enabled: false
    # server:
    #   sidecarContainers:
    #   - name: thanos-sidecar
    #     # v0.17.2
    #     image: quay.io/thanos/thanos@sha256:46c6a75b884818bd02a93772e9cf6dd638ca2b8cbabfb6935b9e19eac6a1ce9e
    #     args:
    #     - "sidecar"
    #     - "--log.level=debug"
    #     - "--tsdb.path=/data/"
    #     - "--prometheus.url=http://127.0.0.1:9090"
    #     - "--objstore.config-file=/etc/secret/objstore.yaml"
    #     - "--reloader.config-file=/etc/prometheus-config/prometheus.yml"
    #     - "--reloader.config-envsubst-file=/etc/prometheus-shared/prometheus.yml"
    #     - "--reloader.rule-dir=/etc/prometheus-config/rules"
    #     ports:
    #     - name: sidecar-http
    #       containerPort: 10902
    #     - name: grpc
    #       containerPort: 10901
    #     - name: cluster
    #       containerPort: 10900
    #     volumeMounts:
    #     - name: storage-volume
    #       mountPath: /data
    #     - name: thanos-storage-secret
    #       mountPath: /etc/secret
    #     - name: config-volume
    #       mountPath: /etc/prometheus-config
    #       readOnly: false
    #     - name: prometheus-config-shared
    #       mountPath: /etc/prometheus-shared/
    #       readOnly: false
    #   configPath: /etc/prometheus-shared/prometheus.yml
    #   replicaCount: 2
    #   persistentVolume:
    #     size: 1Gi
    #   extraVolumes:
    #   - name: prometheus-config-shared
    #     emptyDir: {}
    #   extraVolumeMounts:
    #   - name: prometheus-config-shared
    #     mountPath: /etc/prometheus-shared/
    #   global:
    #     scrape_interval: 5s
    #     scrape_timeout: 4s
    #     external_labels:
    #       prometheus_group: CLUSTER_NAME
    #       prometheus_replica: '$(HOSTNAME)'
    #     evaluation_interval: 5s
    #   extraSecretMounts:
    #   - name: thanos-storage-secret
    #     mountPath: /etc/secret/
    #     subPath: sa
    #     readOnly: false
    #     secretName: thanos-sidecar
    # configmapReload:
    #   image:
    #     repository: gcr.io/google-containers/pause-amd64
    #     tag: 3.1
