name: K8s
on:
  push:
    branches: [main]
jobs:
  mahalo:
    name: Mahalo
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Bazelisk
      run: curl -L "https://github.com/bazelbuild/bazelisk/releases/download/v1.10.1/bazelisk-linux-amd64" | install -D /dev/stdin "${GITHUB_WORKSPACE}/bin/bazel"
    - run: bazel build //...
    - uses: azure/k8s-set-context@v1
      with:
        kubeconfig: ${{ secrets.KUBE_CONFIG }}
    # https://github.com/bazelbuild/rules_k8s/issues/640
    - run: bazel run //k8s/mahalo:object.apply -- --prune
  pillowtalk:
    name: Pillowtalk
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: tailscale/github-action@main
      with:
        authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
    - name: Install Bazelisk
      run: curl -L "https://github.com/bazelbuild/bazelisk/releases/download/v1.10.1/bazelisk-linux-amd64" | install -D /dev/stdin "${GITHUB_WORKSPACE}/bin/bazel"
    - run: bazel build //...
    - uses: azure/k8s-set-context@v1
      with:
        kubeconfig: ${{ secrets.KUBE_CONFIG }}
    # https://github.com/bazelbuild/rules_k8s/issues/640
    - run: bazel run //k8s/pillowtalk:object.apply -- --prune
